 .overflow-vis{
  overflow: visible;
  &::before{
    visibility: hidden;
  }
  .el-table__body-wrapper{
    overflow: visible;
  }
  td{
    border-bottom: none;
  }
  .cell {
    overflow: visible;
  }
}
